body{
	margin: 0;
	font-family: 'Permanent Marker', cursive;
	font-size: 20px;
	line-height: 30px;
}
header{
	background-color: black;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
}
header h1 {
	color: limegreen;
}
header img{
	border-radius: 150px;
	border: 15px solid limegreen;
}
main{
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}
main img{
	max-width: 100%;
}
h2{
	font-size: 35px;
	color: grey;
}
a {
	color: black;
}
a:hover{
	color: limegreen;
}
footer{
	background-color: limegreen;
	text-align: center;
	padding: 50px;
}
footer p{
	margin: 0px
}
footer a{
	color: white;
}
footer a:hover{
	background-color: black;
}
p.caption{
	color: silver;
	font-style: italic;
	margin-top: 0px;
}